body {
	margin: 0;
	padding: 0;
	/*background: #d3dfee;*/
	/*background-image: url(../img/back1.jpg);
	background-size:100% 190%;*/
	background:url(../img/header_back1.png); 
}
ul {
	padding: 0;
}
h1 {
	color: #346A98;
	float: left;
	margin-left: 28%;
	font-size: 37px;
}
li {
	list-style: none;
}
#header_right input {
	color: #da44ec;
}
a {
	text-decoration: none;
}
#main {
	width: 73%;
	/*background: #99d9ea;*/
	margin-left: 10%;	
	border: 2px solid #000;
}
#header_out {
	border: 1px solid #000;
	/*background-image: url(../img/header_back.jpg);*/
/*	background-repeat:no-repeat;
*/	background-position: 6% 54%;
}
#header {
	margin: 10px;
	/*background: #0d3689;*/
	height: 80.875px;
}
#header a {
	color: #38573C;
}
#header_left {
	width: 40%;
	float: left;
	margin-left: 5%;
}
#header_right {
	float: right;
}
#header_right li {	
	list-style: none;
	float: right;
	margin-right: 10px;
	margin-top: 25px;
	background: #C4BDDD;
	opacity:0.7;
	padding: 5px;
	text-align: center;
}

#header_right img {
	width: 70px;
	height: 65px;
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}
#body {
	overflow: auto;
}
#search {
	float: right;
	margin-top: 13px;
	width: 15%;
	overflow: hidden;
	background: #C4E8D5;
	padding: 1%;
}
#body_left {
	float: left;
	width: 17%;
}
#body_left li {
	margin: 10% 15%;
	list-style: none;
	margin-top: 5px;
	text-align: center;
	border: 1px solid;
	background: #CEECE5;
}
.body_right {
	float: left;
	width: 60%;
	overflow: auto;
}
.style {
	list-style: none;
	display: block;
	float: right;
	margin-bottom: 5px;
}
.write {
	overflow: auto;
} 
.form-control {
	display: block;
	width: 87%;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 5%;
}
textarea {

}
.sublime {
	float: right;
	margin: 10px;
}
.journal,.journ {
	border: 1px solid #0d3689;
	overflow: auto;
	display: none;
	/*background: #68e7e0;*/
	background-size: 100% 190%;
	background-image: url(../img/back1.jpg);
}
.jour {
	border: 1px solid #0d3689;
	overflow: auto;
	/*background: #68e7e0;*/
}
.jour p {
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#000));
}
.content {
	margin-left: 7%;
}
.time {
	width: 96%;
	margin: 0 1%;
}
.layer {
	width: 2px;
	height: 68px;
	float: left;
	background: #D31E1E;
}
.reply {
	border: 1px solid #163473;
	width: 100%;
	/*overflow: auto;*/
}

.discu {
	/*margin-left: 45px;*/
	display: none;
}
.reply_sub {
	display: none;
	float: right;
}
.time a {
	width: 38px;
}
.reply a,.span {
	float: right;
}
.span span {
	float: right;
}

.huifu {
	margin-left: 5.4%;
	border: 1px solid #7F8DAB;
	width: 94%;
	overflow: auto;
}

.reply p {
	overflow: auto;
	width: 100%;
}



#footer {
	margin-left: 36%;
}
#login,#regi {
	display: none;
	width: 30%;
	/* height: 26%; */
	background: #2F7E83;
	border: 1px solid #17375e;
	margin-left: 36.5%;
	margin-top: 14%;
/*	padding-top: 5%;
*/}
#login td,#regi td {
	padding-bottom: 8%;
}
.log input {
	width: 75px;
	height: 35px;
	background: #3b8aeb;
	margin-right: 25px;
}
#login a,#regi a {
	float: right;
	margin-bottom: 7%;
}
hr {
	margin: 40px 0px;
}
#sear {
	margin-bottom: 16%;
}
.right_search_content {
	/*border: 1px solid red;*/
	overflow: auto;
}
.body_rightAll {
	float: left;
	width: 80%;
	overflow: auto;
}
.search_content {
	float: left;
	width: 68%;
	background: #68e7e0;
	padding: 3%;

}
#form  {
	float: right;
	margin: 25px;
	width: 94%;
	overflow: hidden;
}
#search_p {
	
}
