#div1 .active {
	background: #4BC0DB;
}
#div2 .active {
	background: #36AFE4;
}
#div1 input,#div2 input {
	background: #92CBC0;
	width: 100px;
	height: 45px;
	margin: 0px 13px;
}

#body_left .active {
	background: rgb(46, 208, 196);
}
.body_right {
	display: none;
	margin-top: 25px;
}
.body_right2 {
	margin-top: 25px;
	width: 67%;
	margin-left: 2%;
	float: left;
}
#log {
	border: 1px solid #644664;
	padding: 2%;
}
#log h3 {
	text-align: center;
}